/* Center the body content */
body {
   margin: 0;
   padding: 0;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #fff;
   background-color: #cccccc;
}
/*create a dark navbar with inverse*/
.navbar-header {
   background-color: #2B2B2B;
   height: 40px;
   width: 100%;
}
.navbar-brand {
   margin: 0;
   color: #fff;
   float: left;
}
.jumbo {
   padding: 20px;
   margin: auto;
   width: 80%;
   background-color: #669999;
    color: #000;
    font-size: 1.2em;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
}
.btn-default{
    background-color: #1a1a1a;
    color: #ffffff;
    font-weight: bolder;
    margin-left: 108px;
 }
h2 {
   font-size: 2.6em;
   margin-top: 20px;
   text-align: center;
   letter-spacing: -2px;
    font-family: cursive;
}
h3 {
   font-size: 1.7em;
   font-weight: 100;
   margin-top: 30px;
   text-align: center;
   letter-spacing: -1px;
}
.container{
    display: flex;
    flex-direction: row;
}


/* Charts */

.dc-select-menu {
   background-color: rgba(48,59,69, 0.95);
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0;
}

.dc-chart .pie-slice {
    color: #1a1a1a;
    fill: #fff;
    font-size: 12px;
    cursor: pointer;
}

.dc-legend {
    font-size: 10px;
}
.chart-wrapper {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  margin-bottom: 12px;
}

.chart-wrapper .chart-title {
  border-bottom: 1px  #333;
  background-color: #669999;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  padding: 7px 10px 4px;
  margin: auto;
}

/*styling charts*/
.row{
    margin-top: 10px;
}
#menu-select{
    width: 200px;
    font-size: 20px;
    margin-left: 40px;
    background-color: #66978a;
    color: #ffffff;
}

#total-enrolments-nd {
    width: 200px;
    margin-left: 40px;
    font-size: 40px;
    background-color: #66978a;
    color: #ffffff;
}

#total-withdrawals-nd{
    width: 200px;
    margin-left: 40px;
    font-size: 40px;
    background-color: #66978a;
    color: #ffffff;
}

#fees-status-chart{
    color: #000000;
    margin: auto;
}