/* Center the body content */
body {
   margin: 0;
   padding: 0;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #000;
   background-color: #cccccc;
   display: block;
}
.jumbo {
    margin: auto;
    width: 80%;
   padding-left: 80px;
    background-color: #669999;
    color: #000;
    font-size: 1.2em;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 8px;
}
.btn-default{
    background-color: #1a1a1a;
    color: #ffffff;
    font-weight: bolder;
    border-radius: 8px;
 }

h1 {
   margin-top: 20px;
   text-align: center;
   letter-spacing: -2px;
    font-family: cursive;
}
h5 {
   font-size: 14px;
   font-weight: bold;
   margin-top: 20px;
   text-align: center;
}
/* Charts */

.dc-select-menu {
   background-color: #303b45;
   width: 80%;
   border: none;
   position: relative;
   height: 31px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0;
}
.dc-legend {
    font-size: 10px;
}
.chart-wrapper {
  background: #fff;
  border: 1px solid #1a1a1a;
  border-radius: 0;
  margin-bottom: 12px;
}

.chart-wrapper .chart-title {
  border-bottom: 1px  #333;
  background-color: #669999;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0;
  padding: 2px;
  margin: auto;
}

/*styling charts*/
.row{
    margin-top: 10px;
}
#menu-select{
    width: 200px;
    font-size: 20px;
    margin-left: 40px;
    background-color: #339966;
    color: #ffffff;
}
#total-enrolments-nd {
    width: 200px;
    font-size: 30px;
    background-color: #303b45;
    color: #ffffff;
    text-align: center;
}
#total-withdrawals-nd{
    width: 200px;
    font-size: 30px;
    background-color: #303b45;
    color: #ffffff;
    text-align: center;
}
#total-enrolment-chart{
    text-align: center;
}
.chart-stage {
    color: #000;
    margin: auto;
}
.dc-chart g.row text,
.dc-chart g.pie-slice text{
    fill: black;
}

/* Intro.js custom rules */
div.introjs-tooltiptext {
   font-weight: normal;
   font-size: 10px;
   padding-bottom: 10px;
}

.introjs-bullets ul li a {
    margin-bottom: 8px;
}

.introjs-bullets li {
    list-style: none;
    text-align: left;
}




