{% extends "index.html" %}
{% block content %}
  <div  id="outer" class="container-fluid">
  <!--Menu select-->
    <div class="row">
        <div class="chart-wrapper">
            <div class="col-sm-3">
                <div class="chart-title">
                    Year
                </div>
                <div class="chart-stage">
                    <div id="menu-select-academic_year"></div>
                </div>
            </div>
        </div>
        <div class="chart-wrapper">
            <div class="col-sm-3">
                <div class="chart-title">
                    Course
                </div>
                <div class="chart-stage">
                    <div id="menu-select-course"></div>
                </div>
            </div>
        </div>
        <div class="chart-wrapper">
            <div class="col-sm-3">
                <div class="chart-title">
                    Total Enrolments
                </div>
                <div class="chart-stage">
                    <div id="total-enrolments-nd"></div>
                </div>
            </div>
        </div>
        <div class="chart-wrapper">
            <div class="col-sm-3">
                <div class="chart-title">
                    Total Withdrawals
                </div>
                <div class="chart-stage">
                    <div id="total-withdrawals-nd"></div>
                </div>
            </div>
        </div>
    </div> <!--first row end-->
    <div class="row">
        <div class ="col-sm-12">
            <!-- Metric 1 -->
            <div class="col-sm-8">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Total Enrolment Trends
                    </div>
                    <div class="chart-stage">
                        <div id="total-enrolment-chart"></div>
                    </div>
                </div>
            </div>
            <!-- Metric 1 -->
            <!-- Metric 2 -->
            <div class="col-sm-4">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Enrolment by Fee Status
                    </div>
                 <div class="chart-stage">
                    <div id="fees-status-chart"></div>
                 </div>
                </div>
            </div>
            <!-- Metric 2 -->
        </div>
      </div> <!--end of row-->
      <div class=row>
          <div class="col-sm-12">
              <!-- Time Chart -->
              <div id=annual-enrol class="col-sm-4">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Level Group Enrollments
                  </div>
                  <div class="chart-stage">
                    <div id="level-group-chart"></div>
                  </div>
                </div>
              </div>
          <!-- Time Chart -->
     	  <!-- course-stage Pie -->
              <div class="col-sm-4">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Enrolment By Mode Group
                  </div>
                  <div class="chart-stage">
                    <div id="mode-group-chart"></div>
                  </div>
                 </div>
               </div>
          <!-- course-stage Pie -->
              <div class="col-sm-4">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Enrolment By course stage
                  </div>
                  <div class="chart-stage">
                    <div id="course-stage-chart"></div>
                  </div>
                 </div>
               </div>
   	        </div>
        </div>

	<!-- Reason-for-leaving-->
        <div class="Row">
          <div class="col-sm-6">
            <div class="chart-wrapper" data-step="5">
              <div class="chart-title">
                Reason for leaving
              </div>
              <div class="chart-stage">
                <div id="reason-for-leaving-table"></div>
              </div>
            </div>
          </div>
          <!-- Reason-for-Leaving -->
        </div>

    <!--Faculty enrolment Profile -->
	<div id="gender" class="col-sm-3">
            <div class="chart-wrapper" data-step="6">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Enrolment By Gender
                    </div>
                    <div class="chart-stage">
                        <div id="Gender-chart"></div>
                    </div>
                </div>
            </div>
        </div><!-- #gender -->
        <div id="Age" class="col-sm-3">
            <div class="chart-wrapper" data-step="7">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Enrolment By Age
                    </div>
                    <div class="chart-stage">
                        <div id="Age-chart"></div>
                    </div>
                </div>
            </div>
        </div><!-- #Age -->
        <div id="White-BME" class="col-sm-3">
            <div class="chart-wrapper" data-step="8">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Enrolment by Ethnicity
                    </div>
                    <div class="chart-stage">
                        <div id="White/BME-chart"></div>
                    </div>
                </div>
            </div>
        </div><!-- #white/bme -->
        <div id="disability" class="col-sm-3">
            <div class="chart-wrapper" data-step="10" data-intro=" The description that you want" data-position="right">
                <div class="chart-wrapper">
                    <div class="chart-title">
                       Enrolment by Disability Status
                    </div>
                    <div class="chart-stage">
                        <div id="Disability-chart"></div>
                    </div>
                </div>
            </div>
        </div><!-- disability -->
  </div>
{% endblock %}

