{% extends "index.html" %}
{% block content %}
    <div class="row">
        <div id="date" class="col-sm-3">
            <div class="chart-wrapper" data-step="1"
                 data-intro=" Select a year for a display of that year's enrolment data"
                 style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    <h5>Year</h5>
                </div>
                <div class="chart-stage">
                    <div id="menu-select-academic_year" ></div>
                </div>
            </div>
        </div>
        <div id="course" class="col-sm-3">
            <div class="chart-wrapper" data-step="2" data-intro="Select any course to view the breakdown"
                 style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    <h5>Course</h5>
                </div>
                <div class="chart-stage">
                    <div id="menu-select-course"></div>
                </div>
            </div>
        </div>
        <div id="totalEnrol" class="col-sm-3">
            <div class="chart-wrapper" data-step="3" data-intro="
            <h6>Annual Enrolments</h6><hr>
            <p>Total recorded enrolments for the Faculty of Health.</p>"
                 data-position="right" data-toggle="tooltip" data-animation="true" data-placement="right"
                 data-html="true">
                <div class="chart-title">
                    <h5>Total Enrolments</h5>
                </div>
                <div class="chart-stage">
                    <div id="total-enrolments-nd"></div>
                </div>
            </div>
        </div>
        <div id="withdrawals" class="col-sm-3">
            <div class="chart-wrapper" data-step="4" data-intro="
            <P>Showing total withdrawals. These are students who left the University entirely.</p>"
                 style="font-weight: normal" data-position="left">
                <div class="chart-title">
                    <h5>Total Withdrawals</h5>
                </div>
                <div class="chart-stage">
                    <div id="total-withdrawals-nd"></div>
                </div>
            </div>
        </div>
    </div>
        <!-- Metric 1 -->
    <div class="row">
        <div id="trend" class="col-sm-8">
            <div class="chart-wrapper" data-step="5" data-intro="
            <p>Five year trend of recorded enrolments for the Faculty of Health. Click on the chart to slice</p>"
                 data-position="right" data-toggle="tooltip" data-animation="true" data-placement="left"
                 data-html="true">
                <div class="chart-title">
                    <h5><i class="fa fa-bar-chart"></i> Total Enrolment Trends</h5>
                </div>
                <div class="chart-stage">
                    <div id="total-enrolment-chart"></div>
                </div>
            </div>
        </div>
        <!-- Metric 1 -->
        <!-- Metric 2 -->
        <div id="feeStatus" class="col-sm-4">
            <div class="chart-wrapper" data-step="6" data-intro="
            <p>International student targets are changing. This section is used for defining fee differences. Also management of international enrolments entails monitoring of numbers and fee assessment.</p>
            " data-position="left" style="position: relative">
                <div class="chart-title">
                    <h5><i class="fa fa-pie-chart"></i> Enrolment by Fee Status <i class="fa fa-question-circle"
                                                                                   aria-hidden="true"
                                                                                   data-toggle="tooltip"
                                                                                   data-animation="true"
                                                                                   data-placement="Left"
                                                                                   data-html="true"
                                                                                   title="Fees as Home/Eu, Overseas and Not assessed"></i>
                    </h5>
                </div>
             <div class="chart-stage">
                <div id="fees-status-chart"></div>
             </div>
            </div>
        </div>
    </div>
     <!-- Metric 2 -->
     <div class="row">
      <div id="level" class="col-sm-4">
        <div class="chart-wrapper" data-step="7" data-intro="
            <p>This shows those enrolled as Undergraduates, Postgraduates or on Stand alone Modules</p>"
             data-position="right" data-toggle="tooltip" data-animation="true" data-placement="bottom" data-html="true">
          <div class="chart-title">
              <h5><i class="fa fa-pie-chart"></i> Enrolments by Level Of Study <i class="fa fa-question-circle"
                                                                                  data-toggle="tooltip"
                                                                                  data-animation="true"
                                                                                  data-placement="top" data-html="true"
                                                                                  title="Level of study as Undergraduate,
              Postgraduate and Stand Alone Module"></i></h5>
          </div>
          <div class="chart-stage">
            <div id="level-group-chart"></div>
          </div>
        </div>
      </div>
      <!-- Time Chart -->
        <!-- course-stage Pie -->
      <div id="mode" class="col-sm-4">
        <div class="chart-wrapper" data-step="8" data-intro="
            <p>Enrolments broken by mode of study. This data can be used with course and other charts to identify student numbers in trouble</p>"
             data-position="right" data-toggle="tooltip" data-animation="true" data-placement="right" data-html="true">
          <div class="chart-title">
              <h5><i class="fa fa-pie-chart"></i> Enrolment by Mode Of Study <i class="fa fa-question-circle"
                                                                                data-toggle="tooltip"
                                                                                data-animation="true"
                                                                                data-placement="top" data-html="true"
                                                                                title="studying full-time or part-time.Click to drill down."></i>
              </h5>
          </div>
          <div class="chart-stage">
            <div id="mode-group-chart"></div>
          </div>
         </div>
       </div>
          <!-- course-stage Pie -->
      <div id="stage" class="col-sm-4">
          <div class="chart-wrapper" data-step="9"
               data-intro="Each Course has three stages that a student can enrol on. Stage 1, 2 and 3"
               style="font-weight: normal" data-position="left">
          <div class="chart-title">
              <h5><i class="fa fa-pie-chart"></i> Enrolment By course stage</h5>
          </div>
          <div class="chart-stage">
            <div id="course-stage-chart"></div>
          </div>
         </div>
       </div>
    </div>
     <!--Faculty enrolment Profile -->
    <div class="row">
      <div id="gender" class="col-sm-3">
          <div class="chart-wrapper" data-step="10"
               data-intro="Faculty of Health has always had more females to males due to nursing courses. However gender monitoring on other course is increasing to improve gender balance"
               style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    <h5><i class="fa fa-bar-chart"></i> Enrolment By Gender</h5>
                </div>
                <div class="chart-stage">
                    <div id="gender-chart"></div>
                </div>
            </div>
        </div>
        <!-- gender -->
        <!-- age -->
        <div id="Age" class="col-sm-3">
            <div class="chart-wrapper" data-step="11" data-intro="Describes enrolments based on young or mature students" style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    <h5><i class="fa fa-bar-chart"></i> Enrolment By Age <i class="fa fa-question-circle"
                                                                            data-toggle="tooltip" data-animation="true"
                                                                            data-placement="top" data-html="true"
                                                                            title="Age: Young are <21years and Mature are >=21years"></i>
                    </h5>
                </div>
                <div class="chart-stage">
                    <div id="age-chart"></div>
                </div>
            </div>
        </div>
        <!-- #Age -->
        <!-- #white/bme -->
        <div id="White-BME" class="col-sm-3">
            <div class="chart-wrapper" data-step="12" data-intro="shows the diversity of Ethnicity"
                 style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    <h5><i class="fa fa-bar-chart"></i> Enrolment by Ethnicity <i class="fa fa-question-circle"
                                                                                  data-toggle="tooltip"
                                                                                  data-animation="true"
                                                                                  data-placement="top" data-html="true"
                                                                                  title="Ethnicity: All UK non-White are referred to as BME"></i>
                    </h5>
                </div>
                <div class="chart-stage">
                    <div id="ethnicity-chart"></div>
                </div>
            </div>
        </div>
        <!-- #white/bme -->
        <!-- #disability -->
        <div id="disability" class="col-sm-3">
            <div class="chart-wrapper" data-step="13"
                 data-intro="This highlight the enrolment of students with special disability needs"
                 data-position="left">
                <div class="chart-title">
                    <h5><i class="fa fa-bar-chart"></i> Enrolment by Disability <i class="fa fa-question-circle"
                                                                                  data-toggle="tooltip"
                                                                                  data-animation="true"
                                                                                  data-placement="top" data-html="true"
                                                                                  title="Disability: Students registered with a disability are 'Yes', no disability 'No', not indicated 'Unknown'"></i>
                    </h5>
                </div>
                <div class="chart-stage">
                    <div id="disability-chart"></div>
                </div>
            </div>
        </div><!-- disability -->
      </div>
    {% endblock %}