{% extends "index.html" %}
{% block content %}
   <div class="jumbo col-sm-9">
       <h1 data-step="1" data-intro="This is a tooltip!">Welcome to The Faculty of Health</h1><br>

       <p>The dashboard shows all student enrolled in the past 5 years in the Faculty of Health.</p>
       <p>The interactive dashboards allows enrolment data to be assessed against defined internal targets and compared
           to enrolment data from previous years.</p>
       <p>The dashboard shows enrolment and withdrawal numbers.</p>
       <p>The select menu allows multiple filtering options for analysing data by key indicators such as gender, ethnicity and or international/overseas students.</p>
       <p>The dashboard highlights trends and equality variations</p>
       <a class="btn btn-large btn-default" href="{{ url_for('dash') }}" autofocus
          onclick="javascript:introJs().start();">Get Started</a>
   </div>
{% endblock %}