{% extends "index.html" %}
{% block content %}
   <div class="jumbo" col-sm-8>
       <h2>Welcome to The Faculty of Health</h2>

       <p>This dashboard shows all student enrolled in the past 5 years in the Faculty of Health.</p><br
       <p>The interactive dashboards allows live enrolment data to be assessed against defined internal targets and compared to enrolment data from previous years.</p>
       <p>The dashboard shows enrolment and withdrawal numbers.</p>
       <p>The select menu allows multiple filtering options for analysing data by key indicators such as gender, ethnicity and or international/overseas students.</p>
       <p>The dashboard highlights trends and help predict future expectations in terms of student numbers</p>
       <button type="button" class="btn btn-default btn-lg">Get Started</button>
   </div>
{% endblock %}