<!DOCTYPE html>
<html>
<head>
   <title>Faculty of Health</title>
   <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">;
</head>
<body class="enrol-application">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="./">Analytics Dashboard</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('dash') }}">Dashboard</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="row-selection" class="dc-data-count"><span class="filter-count">_</span> selected out of <span class="total-count">_</span>Records</li>
                <li><a href='javascript:dc.filterAll();dc.redrawAll();' title="Unless you want to apply several filters at the same time, it's recommended to reset filters after each query."><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;&nbsp;<button class="btn btn-success navbar-btn">Reset All</button></a></li>
            </ul>
        </div>
    </nav>

<div class="container">
   {% block content %}
   {% endblock %}
</div>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
</body>
</html>